<!DOCTYPE html>
<html>
   <head>
         <meta charset="utf-8">
         <tittle>{{upper name}}</tittle>
  </head>
<body>
  {{>header}}

               <h1>HomePage</h1></br>
               <p>some text</p>
{{>footer}}

</body>
</html>
