<!DOCTYPE html>
<html>
   <head>
         <meta charset="utf-8">
         <tittle>Welcome</tittle>
  </head>
<body>
  {{>header}}


        <h1>Project Page</h1></br>
         <p>Project details are here...</p>
{{>footer}}
</body>
</html>
